<div class="c-layout-page" *ngIf="!isLoader">
  <div class="c-layout-breadcrumbs-1 c-subtitle c-fonts-uppercase c-fonts-bold c-bordered c-bordered-both">
    <div class="container">
      <div class="c-page-title c-pull-left">
        <h3 class="c-font-uppercase c-font-sbold">Producto {{product?.name}}</h3>
        <h4 class="">Page Sub Title Goes Here</h4>
      </div>
    </div>
  </div>
  <!-- END: LAYOUT/BREADCRUMBS/BREADCRUMBS-2 -->
  <!-- BEGIN: PAGE CONTENT -->
  <!-- BEGIN: CONTENT/SHOPS/SHOP-PRODUCT-DETAILS-2 -->
  <div class="c-content-box c-size-lg c-overflow-hide c-bg-white">
    <div class="container">
      <div class="c-shop-product-details-2">
        <div class="row">
          <div class="col-md-6">
            <div class="c-product-gallery">
              <div class="c-product-gallery-content">
                <div class="c-zoom">
                  <img class="animated fadeIn" [src]="imageSelected">
                </div>
              </div>
              <div class="row c-product-gallery-thumbnail">
                <div class="col-xs-3 c-product-thumb" style="height: 136px;" *ngFor="let image of getImages">
                  <img [src]="image" (click)="selectImage(image)">
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="c-product-meta">
              <div class="c-content-title-1">
                <h3 class="c-font-uppercase c-font-bold">{{product?.name}}</h3>
                <div class="c-line-left"></div>
              </div>
              <!-- <div class="c-product-badge">
                <div class="c-product-sale">Sale</div>
                <div class="c-product-new">New</div>
              </div> -->
              <div class="c-product-review">
              </div>
              <div class="c-product-price">{{product?.price | currency}}</div>
              <div class="c-product-short-desc">
                {{product?.description}}
              </div>
              <div class="c-product-add-cart c-margin-t-20">
                <div class="row">
                  <div class="col-sm-12 col-xs-12 c-margin-t-20">
                    <button (click)="addToCart(product)"
                      class="btn c-btn btn-lg c-font-bold c-font-white c-theme-btn c-btn-square c-font-uppercase">Agregar
                      al carrito</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <app-most-popular-products [mostPopularProducts]="mostPopularProducts"></app-most-popular-products>
  </div>
