<div class="c-layout-page">
  <!-- BEGIN: LAYOUT/BREADCRUMBS/BREADCRUMBS-2 -->
  <div class="c-layout-breadcrumbs-1 c-subtitle c-fonts-uppercase c-fonts-bold c-bordered c-bordered-both">
    <div class="container">
      <div class="c-page-title c-pull-left">
        <h3 class="c-font-uppercase c-font-sbold">Mis datos</h3>
        <h4 class="">Page Sub Title Goes Here</h4>
      </div>
    </div>
  </div>
  <!-- END: LAYOUT/BREADCRUMBS/BREADCRUMBS-2 -->
  <div class="container">
    <div class="c-layout-sidebar-menu c-theme">
      <!-- BEGIN: LAYOUT/SIDEBARS/SHOP-SIDEBAR-DASHBOARD -->
      <div class="c-sidebar-menu-toggler">
        <h3 class="c-title c-font-uppercase c-font-bold">Mi perfil</h3>
        <a href="javascript:;" class="c-content-toggler" data-toggle="collapse" data-target="#sidebar-menu-1">
          <span class="c-line"></span> <span class="c-line"></span>
          <span class="c-line"></span>
        </a>
      </div>

      <ul class="c-sidebar-menu collapse" id="sidebar-menu-1">
        <li class="c-dropdown" [ngClass]="!toggler ? 'c-open' : ''">
          <a (click)="toggler = !toggler" class="c-toggler">
            Mi perfil<span class="c-arrow"></span></a>
          <ul class="c-dropdown-menu">
            <li class="" routerLinkActive="c-active">
              <a [routerLink]="['/dashboard/profile/my-profile']">Editar perfil</a>
            </li>
            <li class="" routerLinkActive="c-active">
              <a [routerLink]="['/dashboard/profile/order-history']">Historial de pedidos</a>
            </li>
            <li class="" routerLinkActive="c-active">
              <a [routerLink]="['/dashboard/profile/reset-password']">Cambiar contraseña</a>
            </li>
          </ul>
        </li>
      </ul>
      <!-- END: LAYOUT/SIDEBARS/SHOP-SIDEBAR-DASHBOARD -->
    </div>
    <div class="c-layout-sidebar-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
