<div class="c-content-box c-size-md c-bg-white">
  <div class="container">
    <div class="c-content-feature-2-grid">
      <div class="c-content-title-1">
        <h3 class="c-font-uppercase c-center c-font-bold">Nuestros servicios</h3>
        <div class="c-line-center"></div>
      </div>
      <div class="row">
        <a [routerLink]="['/admin/roles']">
          <div class="col-md-4 col-sm-6 c-content-media-1 c-bordered wow  fadeInLeft animated">
            <div class="c-content-feature-2 c-option-2">
              <h3 class="c-font-uppercase c-title c-center">Roles</h3>
              <p>Lorem ipsum sit dolor eamet dolore adipiscing</p>
            </div>
          </div>
        </a>
        <a [routerLink]="['/admin/users']">
          <div class="col-md-4 col-sm-6 c-content-media-1 c-bordered wow  fadeInLeft animated">
            <div class="c-content-feature-2 c-option-2">
              <h3 class="c-font-uppercase c-title c-center">Usuarios</h3>
              <p>Lorem ipsum sit dolor eamet dolore adipiscing</p>
            </div>
          </div>
        </a>
        <a [routerLink]="['/admin/products']">
          <div class="col-md-4 col-sm-6 c-content-media-1 c-bordered wow  fadeInLeft animated">
            <div class="c-content-feature-2 c-option-2">
              <h3 class="c-font-uppercase c-title c-center">Productos</h3>
              <p>Lorem ipsum sit dolor eamet dolore adipiscing</p>
            </div>
          </div>
        </a>
        <a [routerLink]="['/admin/categories']">
          <div class="col-md-4 col-sm-6 c-content-media-1 c-bordered wow  fadeInLeft animated">
            <div class="c-content-feature-2 c-option-2">
              <h3 class="c-font-uppercase c-title c-center">Categorias</h3>
              <p>Lorem ipsum sit dolor eamet dolore adipiscing</p>
            </div>
          </div>
        </a>
        <a [routerLink]="['/admin/orders']">
          <div class="col-md-4 col-sm-6 c-content-media-1 c-bordered wow  fadeInLeft animated">
            <div class="c-content-feature-2 c-option-2">
              <h3 class="c-font-uppercase c-title c-center">Ordenes</h3>
              <p>Lorem ipsum sit dolor eamet dolore adipiscing</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>