<h3 class="c-font-24 c-font-sbold">Crea una cuenta</h3>
<p>Por favor, complete el siguiente formulario para crear una cuenta con nosotros</p>
<form [formGroup]="registerForm" (ngSubmit)="registerUser()">
  <div class="form-group">
    <label for="signup-username" class="hide">Username</label>
    <input
      type="text"
      formControlName="username"
      class="form-control input-lg c-square"
      id="signup-username"
      placeholder="Username"
    />
  </div>
  <div class="form-group">
    <label for="email" class="hide">Email</label>
    <input
      type="email"
      formControlName="email"
      class="form-control input-lg c-square"
      id="email"
      placeholder="Email"
    />
  </div>
  <div class="form-group">
    <label for="name" class="hide">Nombre</label>
    <input
      type="text"
      formControlName="name"
      class="form-control input-lg c-square"
      id="name"
      placeholder="Nombre"
    />
  </div>
  <div class="form-group">
    <label for="lastname" class="hide">Apellido</label>
    <input
      type="text"
      formControlName="lastName"
      class="form-control input-lg c-square"
      id="lastname"
      placeholder="Apellido"
    />
  </div>
  <div class="form-group">
    <label for="country" class="hide">País</label>
    <select
      class="form-control input-lg c-square"
      formControlName="country"
      id="country"
      (change)="changeCountry($event)"
    >
      <option selected disabled value="0">Seleccione un país</option>
      <option *ngFor="let country of countries" [value]="country">{{ country }}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="phone" class="hide">Telefono</label>
    <input
      type="text"
      formControlName="phone"
      class="form-control input-lg c-square"
      id="phone"
      placeholder="Telefono"
    />
  </div>
  <div class="form-group">
    <label for="password" class="hide">Password</label>
    <input
      type="password"
      formControlName="password"
      class="form-control input-lg c-square"
      id="password"
      placeholder="Password"
    />
  </div>
  <div class="form-group content-register-button">
    <button
      type="submit"
      class="btn c-theme-btn btn-md c-btn-uppercase c-btn-bold c-btn-square c-btn-login"
    >
      Registrarse
    </button>
    <a class="c-btn-forgot" [routerLink]="['/login']">Volver </a>
  </div>
</form>
