<div class="c-content-bar-1 c-align-left c-bordered c-theme-border c-shadow">
  <h1 class="c-font-bold c-font-uppercase c-font-24">Your Order</h1>
  <div class="row">
    <div class="col-md-6">
      <ul class="c-order list-unstyled">
        <li class="row c-margin-b-15">
          <div class="col-md-6 c-font-20"><h2>Product</h2></div>
          <div class="col-md-6 c-font-20"><h2>Total</h2></div>
        </li>
        <li class="row c-border-bottom"></li>
        <li class="row c-margin-b-15 c-margin-t-15" *ngFor="let product of order.orderItems">
          <div class="col-md-6 c-font-20">
            <a href="shop-product-details.html" class="c-theme-link"
              >{{ product.name }} x {{ product.quantity }}</a
            >
          </div>
          <div class="col-md-6 c-font-20">
            <p class="">{{ product.price | currency }}</p>
          </div>
        </li>
        <li class="row c-border-top c-margin-b-15"></li>
        <li class="row c-margin-b-15 c-margin-t-15">
          <div class="col-md-6 c-font-20">
            <p class="c-font-30">Total</p>
          </div>
          <div class="col-md-6 c-font-20">
            <p class="c-font-bold c-font-30">
              <span class="c-shipping-total">{{ cartService.getTotalPrice | currency }}</span>
            </p>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-md-6 c-margin-t-50">
      <form class="c-radio-list">
        <div class="c-radio">
          <input
            type="radio"
            id="radio1"
            class="c-radio"
            name="payment"
            [value]="paymentCard"
            (change)="changePaymentCard($event.target)"
            [checked]="paymentCard"
          />

          <label for="radio1" class="c-font-bold c-font-20">
            <span class="inc"></span>
            <span class="check"></span>
            <span class="box"></span>
            Debit / Credit card
          </label>
        </div>
        <div class="c-radio">
          <input
            type="radio"
            id="radio3"
            class="c-radio"
            name="payment"
            [value]="paymentPaypal"
            (change)="changePaymentPaypal($event.target)"
            [checked]="paymentPaypal"
          />

          <label for="radio3" class="c-font-bold c-font-20">
            <span class="inc"></span>
            <span class="check"></span>
            <span class="box"></span>
            Paypal
          </label>
          <img
            class="img-responsive"
            width="250"
            src="https://www.paypalobjects.com/webstatic/mktg/Logo/AM_mc_vs_ms_ae_UK.png"
          />
        </div>
      </form>
    </div>
    <div class="col-md-12 c-margin-t-50">
      <div class="form-group col-md-12" role="group">
        <div class="btn-mercadopago"></div>
        <button
          (click)="orderPayment()"
          class="btn btn-lg c-theme-btn c-btn-square c-btn-uppercase c-btn-bold"
        >
          Pagar
        </button>
        <a (click)="goBack()" class="btn btn-lg btn-default c-btn-square c-btn-uppercase c-btn-bold">
          Volver
        </a>
      </div>
    </div>
  </div>
</div>
