<div class="c-content-title-1">
  <h3 class="c-font-uppercase c-font-bold">Editar perfil</h3>
  <div class="c-line-left"></div>
</div>
<form *ngIf="!isLoader; else loading" [formGroup]="changePasswordForm" (ngSubmit)="changePassword()"
  class="c-shop-form-1">
  <div class="">
    <div class="row">
      <div class="form-group col-md-12">
        <label class="control-label">Cambia la contraseña</label>
        <input type="password" formControlName="password" class="form-control c-square c-theme"
          placeholder="Contraseña" />
        <span class="text-danger ms-2" *ngIf="changePasswordForm.get('password')?.hasError('minlength')">
          La contraseña debe tener al menos 8 caracteres
        </span>
        <span class="text-danger ms-2" *ngIf="
            changePasswordForm.get('password')?.hasError('required') &&
            changePasswordForm.get('password')?.touched
          ">
          La contraseña <strong>es requerida</strong>
        </span>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-12">
        <label class="control-label">Repite la contraseña</label>
        <input type="password" formControlName="confirmPassword" class="form-control c-square c-theme"
          placeholder="Contraseña" />
        <p class="help-block">
          Para hacerlo más fuerte, use letras mayúsculas y minúsculas, números, y simbolos como!"? $% ^
          &).
        </p>
        <span class="text-danger ms-2" *ngIf="
            changePasswordForm.get('confirmPassword')?.hasError('required') &&
            changePasswordForm.get('confirmPassword')?.touched
          ">
          La contraseña <strong>es requerida</strong>
        </span>
        <span class="text-danger ms-2" *ngIf="
            changePasswordForm.get('confirmPassword')?.touched && changePasswordForm.hasError('notSame')
          ">
          Las contraseñas tienen que ser iguales
        </span>
      </div>
    </div>
    <div class="row c-margin-t-30">
      <div class="form-group col-md-12" role="group">
        <button [disabled]="changePasswordForm.invalid" type="submit"
          class="btn btn-lg c-theme-btn c-btn-square c-btn-uppercase c-btn-bold">
          Cmabiar contraseña
        </button>
      </div>
    </div>
  </div>
</form>

<ng-template #loading> Cargando... </ng-template>
