<div class="c-layout-page">
  <div class="c-layout-breadcrumbs-1 c-subtitle c-fonts-uppercase c-fonts-bold c-bordered c-bordered-both">
    <div class="container">
      <div class="c-page-title c-pull-left">
        <h3 class="c-font-uppercase c-font-sbold">Pago no completo</h3>
        <h4 class="">Page Sub Title Goes Here</h4>
      </div>
    </div>
  </div>
  <div class="c-content-box c-size-lg c-overflow-hide c-bg-white">
    <div class="container">
      <div class="c-shop-order-complete-1 c-content-bar-1 c-align-left c-bordered c-border-red c-theme-border c-shadow">
        <div class="c-content-title-1">
          <h3 class="c-center c-font-uppercase c-font-bold c-font-red">Su pago no ha sido completado</h3>
          <div class="c-line-center c-bg-red"></div>
        </div>
        <div class="c-bg-red">
          <p class="c-message c-center c-font-white c-font-20 c-font-sbold align">
            <span aria-hidden="true" class="icon-close"></span> Lo sentimos, intente más tarde.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
