<a name="footer"></a>
<footer class="c-layout-footer c-layout-footer-3 c-bg-dark">
  <div class="c-prefooter">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="c-container c-first">
            <div class="c-content-title-1">
              <h3 class="c-font-uppercase c-font-bold c-font-white">
                Cosmo <span class="c-theme-font">Group</span>
              </h3>
              <div class="c-line-left hide"></div>
              <p class="c-text">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, s ed
                elit diam nonummy ad minim veniam quis nostrud exerci et tation
                diam.
              </p>
            </div>
            <ul class="c-links">
              <li><a href="#">Home</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Terms</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-6">
          <div class="c-container c-last">
            <div class="c-content-title-1">
              <h3 class="c-font-uppercase c-font-bold c-font-white">
                Encuentranos
              </h3>
              <div class="c-line-left hide"></div>
              <p>Siguenos en nuestras redes sociales</p>
            </div>
            <ul class="c-socials">
              <li>
                <a href="https://discord.gg/TeJekf2ya3" target="_blank" rel="noreferrer"><i
                    class="bx bxl-discord"></i></a>
              </li>
              <li>
                <a href="https://twitter.com/cosmogrpoficial" target="_blank" rel="noreferrer"><i
                    class="bx bxl-twitter"></i></a>
              </li>
              <li>
                <a href="https://www.facebook.com/groups/423958109327496" target="_blank" rel="noreferrer"><i
                    class="bx bxl-facebook"></i></a>
              </li>
              <li>
                <a href="https://www.instagram.com/cosmogrpoficial/" target="_blank" rel="noreferrer"><i
                    class="bx bxl-instagram"></i></a>
              </li>
              <li>
                <a href="https://www.tiktok.com/@cosmogrpoficial" target="_blank" rel="noreferrer"><i
                    class="bx bxl-tiktok"></i></a>
              </li>
            </ul>
            <ul class="c-address">
              <li>
                <i class="icon-pointer c-theme-font"></i> Autopista Norte 104-40
              </li>
              <li>
                <i class="icon-call-end c-theme-font"></i> Bogotá, Colombia
              </li>
              <li>
                <i class="icon-envelope c-theme-font"></i> info@cosmogrp.net
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
