<div class="row contaier content-auth">
  <div class="col-md-6">
    <div class="modal-body">
      <h3 class="c-font-24 c-font-sbold">Recuperación de contraseña</h3>
      <p>Para recuperar su contraseña, complete su dirección de correo electrónico</p>
      <form [formGroup]="recoveryPasswordForm" (ngSubmit)="recoveryPassword()">
        <div class="form-group">
          <label for="forget-email" class="hide">Email</label>
          <input
            type="email"
            formControlName="email"
            class="form-control input-lg c-square"
            id="forget-email"
            placeholder="Email"
          />
        </div>
        <div class="form-group content-button">
          <button
            type="submit"
            class="btn c-theme-btn btn-md c-btn-uppercase c-btn-bold c-btn-square c-btn-login"
          >
            Recuperar contraseña
          </button>
          <a class="c-btn-forgot disabled-mobile" [routerLink]="['/login']">Volver</a>
        </div>
      </form>
    </div>
    <div class="separator">
      <div class="item-separator"></div>
      <div class="item">o</div>
      <div class="item-separator"></div>
    </div>
    <div class="modal-footer c-no-border content-button">
      <a class="c-btn-forgot disabled-desktop" [routerLink]="['/login']">Volver</a>
      <span class="c-text-account disabled-mobile">¿No tienes una cuenta?</span>
      <a
        [routerLink]="['/register']"
        class="btn c-btn-dark-1 btn c-btn-uppercase c-btn-bold c-btn-slim c-btn-border-2x c-btn-square c-btn-signup disabled-mobile"
        >¡Registrate!</a
      >

      <div class="content-register">
        <span class="c-text-account">¿No tienes una cuenta?</span>
        <a
          [routerLink]="['/register']"
          class="btn c-btn-dark-1 btn c-btn-uppercase c-btn-bold c-btn-slim c-btn-border-2x c-btn-square c-btn-signup"
          >¡Registrate!</a
        >
      </div>
    </div>
  </div>
  <div class="col-md-6 disabled-mobile items">
    <img class="img-banner" src="https://source.unsplash.com/4hxEOapTQGU" alt="" />
  </div>
</div>
